In [8]:
import pandas as pd

In [15]:
lh_path = "C:\\Users\\ytsma22c\\Google Drive\\Misc Work\\LOD paper\\ChemLIBS_LOD_calcs_byhand.csv"
lod_hand = pd.read_csv(lh_path)
la_path = "C:\\Users\\ytsma22c\\Google Drive\\Misc Work\\LOD paper\\LOD_calcs.csv"
lod_auto = pd.read_csv(la_path)
th_path = "C:\\Users\\ytsma22c\\Google Drive\\Misc Work\\LOD paper\\ChemLIBS_test_calcs_byhand.csv"
test_hand = pd.read_csv(th_path)
ta_path = "C:\\Users\\ytsma22c\\Google Drive\\Misc Work\\LOD paper\\test_calcs.csv"
test_auto = pd.read_csv(ta_path)

In [16]:
lod_hand.columns == lod_auto.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [17]:
lod = lod_hand.append(lod_auto).reset_index(drop=True)
lod

,element,instrument,atmosphere,num_range,vector,LOB_Braga,LOB_metals,LOD_Braga,LOD_metals,LOQ_Braga,LOQ_metals
0,SiO2,ChemLIBS,Mars,0-750,9027.525145,4.200157,1.752289,8.400313,3.504578,25.455495,10.619934
1,MnO,ChemLIBS,Mars,0-750,260.473316,0.121188,0.050559,0.242376,0.101118,0.734473,0.306419
2,Na2O,ChemLIBS,Mars,0-750,826.045923,0.384327,0.160340,0.768654,0.320680,2.329255,0.971756
3,Li,ChemLIBS,Mars,0-750,8164.698980,3.798717,1.584810,7.597434,3.169620,23.022529,9.604910
4,Ni,ChemLIBS,Mars,0-750,15529.825720,7.225425,3.014419,14.450849,6.028838,43.790452,18.269207
...,...,...,...,...,...,...,...,...,...,...,...
67,Pb,LANL,Mars,250-1000,932.453539,0.376879,0.141053,0.756049,0.282963,2.291057,0.857464
68,Rb,LANL,Mars,250-1000,4578.040971,1.850352,0.692523,3.711951,1.389256,11.248337,4.209868
69,SiO2,LANL,Mars,250-1000,6311.901011,2.551143,0.954805,5.117794,1.915415,15.508466,5.804288
70,Sr,LANL,Mars,250-1000,155661.441953,62.915204,23.547009,126.212872,47.237160,382.463249,143.142909
71,Zn,LANL,Mars,250-1000,17189.667340,6.947716,2.600292,13.937667,5.216392,42.235353,15.807248

In [18]:
test_hand.columns == test_auto.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [19]:
test = test_hand.append(test_auto).reset_index(drop=True)
test

,element,instrument,atmosphere,num_range,Avg_Braga,Avg_metals,RMSEP_Braga,RMSEP_metals,R2_Braga,R2_metals
0,SiO2,ChemLIBS,Mars,0-750,3.470097,58.550747,5.420919,5.418319,0.842805,0.844139
1,MnO,ChemLIBS,Mars,0-750,4.044496,0.885416,2.217964,0.949485,0.701163,0.879940
2,Na2O,ChemLIBS,Mars,0-750,58.597755,2.940708,0.780032,0.776745,0.610594,0.683162
3,Li,ChemLIBS,Mars,0-750,40.620303,27.831588,25.376510,19.819523,0.248116,0.430351
4,Ni,ChemLIBS,Mars,0-750,124.003487,103.062296,102.035372,92.370528,0.426234,0.486326
...,...,...,...,...,...,...,...,...,...,...
121,Pb,LANL,Mars,0-750,13.435714,13.435714,14.293521,14.293521,-0.217646,-0.217646
122,Rb,LANL,Mars,0-750,104.880645,84.050000,45.795482,40.776928,0.443082,0.625541
123,SiO2,LANL,Mars,0-750,57.580648,55.236854,5.780683,5.980671,0.802905,0.867307
124,Sr,LANL,Mars,0-750,457.500000,251.715625,103.314595,87.852496,0.354837,0.673886
125,Zn,LANL,Mars,0-750,104.992754,104.407143,77.781744,77.501411,0.282187,0.279077

## Export
Replace the existing `LOD_calcs` and `test_calcs` files

In [20]:
le_path = "C:\\Users\\ytsma22c\\Google Drive\\Misc Work\\LOD paper\\LOD_calcs.csv"
te_path = "C:\\Users\\ytsma22c\\Google Drive\\Misc Work\\LOD paper\\test_calcs.csv"
lod.to_csv(le_path, index=False)
test.to_csv(te_path, index=False)