Didn't save source coefficient or test prediction files for the ChemLIBS models (inputted into sheets right away), so if I want to run those here I'll need to redownload them.

In [1]:
import os
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

In [2]:
# make table to hold vectors
full_table = pd.DataFrame({
    'element' : [],
    'instrument' : [],
    'atmosphere' : [],
    'num_range' : [],
    'vector' : [],
    'LOB_Braga' : [],
    'LOB_metals' : [],
    'LOD_Braga' : [],
    'LOD_metals' : [],
    'LOQ_Braga' : [],
    'LOQ_metals' : []
})

# \*\*\*Start here with a new calculation\*\*\*

## Calculate regression vectors

Data should be in a `XX_coeffs.csv` format within folders separated by random number region (0-750 or 250-1000)

- **LANL 0-750:** C:\\Users\\ytsma22c\\Google Drive\\Misc Work\\LOD paper\\LANL calculations\\models\\0-750\\
- **LANL 250-1000:** C:\\Users\\ytsma22c\\Google Drive\\Misc Work\\LOD paper\\LANL calculations\\models\\250-1000\\

#### Get data information

In [12]:
instrument = input("What instrument was the data collected on? ")
atm = input("What atmosphere was the data collected under? ")
num_range = input("What range of random numbers were the models trained on? (0-750 or 250-1000)")
folder = input('Folder path containing models:')

coefflist = os.listdir(folder)
coeffs = []

What instrument was the data collected on? LANL
What atmosphere was the data collected under? Mars
What range of random numbers were the models trained on? (0-750 or 250-1000)250-1000
Folder path containing models:C:\Users\ytsma22c\Google Drive\Misc Work\LOD paper\LANL calculations\models\250-1000\

#### Read in model coefficients

In [13]:
print("Reading in models...")
for file in tqdm(coefflist):
    if "_coeff" in file:
        #get path name        
        path = (folder + file)
        #read in file
        data = pd.read_csv(path, skiprows = [0])
        #merge together data
        coeffs.append(data)

# convert to dataframe
coeffs = pd.concat(coeffs).T
coeffs.columns = coeffs.iloc[0]
coeffs = coeffs.drop(coeffs.index[0])

Reading in models...

  0%|          | 0/28 [00:00<?, ?it/s]

#### Calculate regression vectors

In [14]:
#square root of sum of squares
vectors = coeffs.pow(2).sum().pow(.5)

In [15]:
vectors

wavelength
Li       17390.541725
MnO          94.16936
Na2O       222.684066
Ni        2613.520623
Pb         389.004579
Rb        3630.195718
SiO2       5296.17594
Sr      143705.565467
Zn        5094.189508
dtype: object

#### Assemble table

In [16]:
# add data to table
vals = vectors
elem = coeffs.columns
instr = [instrument] * len(vectors)
atmos = [atm] * len(vectors)
num = [num_range] * len(vectors)

temp = pd.DataFrame({'element' : elem,
                     'instrument' : instr,
                     'atmosphere' : atmos,
                     'num_range' : num,
                     'vector' : vals
}).reset_index(drop = True)

## Calculate LOB, LOD, LOQ

- LOB = 1.645 * stdev * vector
- LOD = 3.3 * stdev * vector
- LOQ = 10 * stdev * vector

Currently just using the pre-calculated `standard deviation` but can easily make a code for that too. The files just aren't in the best format for LANL right now

#### Assign standard deviation based on instrument and atmosphere

In [17]:
if instrument == 'LANL':
    braga =  0.000245701982436336
    metals = 0.0000919578459982072
    
if instrument == 'ChemLIBS':
    if atm == 'Mars':
        braga = 0.00028197645372017
        metals = 0.000117639483634021
        
    elif atm == 'Earth':
        braga = 0.000444867993101603
        metals = 0.0000931716553399781
    
    else:
        braga = 0.000417553099169204
        metals = 0.000231951753003813

In [18]:
temp['LOB_Braga'] = 1.645 * braga * temp['vector']
temp['LOB_metals'] = 1.645 * metals * temp['vector']
temp['LOD_Braga'] = 3.3 * braga * temp['vector']
temp['LOD_metals'] = 3.3 * metals * temp['vector']
temp['LOQ_Braga'] = 10 * braga * temp['vector']
temp['LOQ_metals'] = 10 * metals * temp['vector']

### Add data to full table

In [19]:
full_table = full_table.append(temp)
full_table.reset_index(drop=True, inplace = True)
display(full_table)

,element,instrument,atmosphere,num_range,vector,LOB_Braga,LOB_metals,LOD_Braga,LOD_metals,LOQ_Braga,LOQ_metals
0,Li,LANL,Mars,0-750,16847.896015,6.809579,2.548592,13.660553,5.112678,41.395615,15.492962
1,MnO,LANL,Mars,0-750,105.917171,0.04281,0.016022,0.085879,0.032142,0.260241,0.097399
2,Na2O,LANL,Mars,0-750,87.811505,0.035492,0.013283,0.071199,0.026647,0.215755,0.08075
3,Ni,LANL,Mars,0-750,9365.656646,3.785409,1.416749,7.593829,2.842111,23.011604,8.612456
4,Pb,LANL,Mars,0-750,545.51039,0.220484,0.08252,0.442309,0.165541,1.34033,0.50164
5,Rb,LANL,Mars,0-750,4130.686778,1.66954,0.624852,3.349229,1.253502,10.149179,3.798491
6,SiO2,LANL,Mars,0-750,6042.267236,2.442162,0.914018,4.89917,1.833592,14.84597,5.556339
7,Sr,LANL,Mars,0-750,136934.920031,55.346323,20.714235,111.029098,41.554393,336.451813,125.922403
8,Zn,LANL,Mars,0-750,2907.307083,1.175075,0.43979,2.357293,0.882254,7.143311,2.673497
9,Li,LANL,Mars,250-1000,17390.541725,7.028905,2.630679,14.100539,5.277349,42.728906,15.991968
10,MnO,LANL,Mars,250-1000,94.16936,0.038061,0.014245,0.076354,0.028577,0.231376,0.086596
11,Na2O,LANL,Mars,250-1000,222.684066,0.090004,0.033686,0.180556,0.067576,0.547139,0.204775
12,Ni,LANL,Mars,250-1000,2613.520623,1.056332,0.395349,2.119086,0.793101,6.421472,2.403337
13,Pb,LANL,Mars,250-1000,389.004579,0.157228,0.058845,0.315411,0.118048,0.955792,0.35772
14,Rb,LANL,Mars,250-1000,3630.195718,1.467252,0.549142,2.943423,1.101622,8.919463,3.33825
15,SiO2,LANL,Mars,250-1000,5296.17594,2.140607,0.801156,4.294227,1.607182,13.012809,4.870249
16,Sr,LANL,Mars,250-1000,143705.565467,58.082881,21.738435,116.51885,43.609019,353.087423,132.148543
17,Zn,LANL,Mars,250-1000,5094.189508,2.058968,0.770601,4.130453,1.545887,12.516525,4.684507

### Export full vector table

In [20]:
epath = "C:\\Users\\ytsma22c\\Google Drive\\Misc Work\\LOD paper\\results.csv"
full_table.to_csv(epath, index=False)