# *RUN THIS CHUNK*

In [1]:
import os
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

# First/reset calculations?
#### Set up results table

In [2]:
# make table to hold vectors
full_table = pd.DataFrame({
    'element' : [],
    'instrument' : [],
    'atmosphere' : [],
    'num_range' : [],
    'vector' : [],
    'LOB_Braga' : [],
    'LOB_metals' : [],
    'LOD_Braga' : [],
    'LOD_metals' : [],
    'LOQ_Braga' : [],
    'LOQ_metals' : []
})

# Adding new data?
#### Import existing table

In [16]:
#fpath = "C:\\Users\\ytsma22c\\Google Drive\\Misc Work\\LOD paper\\LOD_calcs.csv"
#full_table = pd.read_csv(fpath)

# \*\*\*Start here with a new calculation\*\*\*
## Calculate regression vectors
Data should be in a `XX_coeffs.csv` format within folders separated by random number region (0-750 or 250-1000)

- **LANL 0-750:** C:\\Users\\ytsma22c\\Google Drive\\Darby Work\\LOD paper\\LANL calculations\\models\\0-750\\
- **LANL 250-1000:** C:\\Users\\ytsma22c\\Google Drive\\Darby Work\\LOD paper\\LANL calculations\\models\\250-1000\\

#### Get data information

In [17]:
instrument = input("What instrument was the data collected on? ")
atm = input("What atmosphere was the data collected under? ")
num_range = input("What range of random numbers were the models trained on? (0-750 or 250-1000)")
folder = input('Folder path containing models:')

coefflist = os.listdir(folder)
coeffs = []

What instrument was the data collected on? LANL
What atmosphere was the data collected under? Mars
What range of random numbers were the models trained on? (0-750 or 250-1000)250-1000
Folder path containing models:C:\Users\ytsma22c\Google Drive\Darby Work\LOD paper\LANL calculations\models\250-1000\

#### Read in model coefficients

In [18]:
print("Reading in models...")
for file in tqdm(coefflist):
    if "_coeff" in file:
        #get path name        
        path = (folder + file)
        #read in file
        data = pd.read_csv(path, skiprows = [0])
        #merge together data
        coeffs.append(data)

# convert to dataframe
coeffs = pd.concat(coeffs).T
coeffs.columns = coeffs.iloc[0]
coeffs = coeffs.drop(coeffs.index[0])

Reading in models...

  0%|          | 0/37 [00:00<?, ?it/s]

#### Calculate regression vectors

In [19]:
#square root of sum of squares
vectors = coeffs.pow(2).sum().pow(.5)

In [20]:
vectors

wavelength
Li (ppm)       22791.058232
MnO (wt%)          6.465417
Na2O (wt%)        161.39895
Ni (ppm)          6329.5992
Pb (ppm)         520.481655
Rb (ppm)        7499.395355
SiO2 (wt%)      8542.342845
Sr (ppm)      111411.378542
Zn (ppm)       14459.090656
dtype: object

#### Assemble table

In [21]:
# add data to table
vals = vectors
elem = coeffs.columns
instr = [instrument] * len(vectors)
atmos = [atm] * len(vectors)
num = [num_range] * len(vectors)

temp = pd.DataFrame({'element' : elem,
                     'instrument' : instr,
                     'atmosphere' : atmos,
                     'num_range' : num,
                     'vector' : vals
}).reset_index(drop = True)

## Calculate LOB, LOD, LOQ

- LOB = 1.645 * stdev * vector
- LOD = 3.3 * stdev * vector
- LOQ = 10 * stdev * vector

Currently just using the pre-calculated `standard deviation` but can easily make a code for that too. The files just aren't in the best format for LANL right now

#### Assign standard deviation based on instrument and atmosphere

In [22]:
if instrument == 'LANL':
    braga =  0.000245701982436336
    metals = 0.0000919578459982072
    
if instrument == 'ChemLIBS':
    if atm == 'Mars':
        braga = 0.00028197645372017
        metals = 0.000117639483634021
        
    elif atm == 'Earth':
        braga = 0.000444867993101603
        metals = 0.0000931716553399781
    
    else:
        braga = 0.000417553099169204
        metals = 0.000231951753003813

In [23]:
temp['LOB_Braga'] = 1.645 * braga * temp['vector']
temp['LOB_metals'] = 1.645 * metals * temp['vector']
temp['LOD_Braga'] = 3.3 * braga * temp['vector']
temp['LOD_metals'] = 3.3 * metals * temp['vector']
temp['LOQ_Braga'] = 10 * braga * temp['vector']
temp['LOQ_metals'] = 10 * metals * temp['vector']

### Add data to full table

In [24]:
full_table = full_table.append(temp).reset_index(drop=True)
# drop unit info
full_table.element = full_table.apply(lambda row: row.element.split()[0], axis = 1)
display(full_table)

,element,instrument,atmosphere,num_range,vector,LOB_Braga,LOB_metals,LOD_Braga,LOD_metals,LOQ_Braga,LOQ_metals
0,Li,LANL,Mars,0-750,22613.498955,9.139919,3.420759,18.335399,6.862313,55.561815,20.794887
1,MnO,LANL,Mars,0-750,7.054565,0.002851,0.001067,0.00572,0.002141,0.017333,0.006487
2,Na2O,LANL,Mars,0-750,128.725448,0.052028,0.019472,0.104373,0.039063,0.316281,0.118373
3,Ni,LANL,Mars,0-750,3676.400453,1.485927,0.556132,2.980886,1.115644,9.032989,3.380739
4,Pb,LANL,Mars,0-750,750.936853,0.303513,0.113595,0.608872,0.22788,1.845067,0.690545
5,Rb,LANL,Mars,0-750,9631.399718,3.892817,1.456948,7.809298,2.922753,23.66454,8.856828
6,SiO2,LANL,Mars,0-750,8097.538977,3.272861,1.22492,6.565619,2.457286,19.895814,7.446322
7,Sr,LANL,Mars,0-750,124924.782336,50.492069,18.897454,101.29108,37.909786,306.942667,114.878139
8,Zn,LANL,Mars,0-750,5242.403461,2.118873,0.793022,4.250627,1.590864,12.880689,4.820801
9,Li,LANL,Mars,250-1000,22791.058232,9.211684,3.447618,18.479367,6.916195,55.998082,20.958166
10,MnO,LANL,Mars,250-1000,6.465417,0.002613,0.000978,0.005242,0.001962,0.015886,0.005945
11,Na2O,LANL,Mars,250-1000,161.39895,0.065234,0.024415,0.130865,0.048978,0.39656,0.148419
12,Ni,LANL,Mars,250-1000,6329.5992,2.558296,0.957483,5.132144,1.920786,15.551951,5.820563
13,Pb,LANL,Mars,250-1000,520.481655,0.210368,0.078734,0.422015,0.157946,1.278834,0.478624
14,Rb,LANL,Mars,250-1000,7499.395355,3.031104,1.134438,6.080634,2.275773,18.426163,6.896282
15,SiO2,LANL,Mars,250-1000,8542.342845,3.452642,1.292206,6.926273,2.592267,20.988706,7.855354
16,Sr,LANL,Mars,250-1000,111411.378542,45.030224,16.853272,90.334189,33.808996,273.739966,102.451504
17,Zn,LANL,Mars,250-1000,14459.090656,5.844072,2.187236,11.72367,4.387769,35.526272,13.296268

### Export full table

In [26]:
epath = "C:\\Users\\ytsma22c\\Google Drive\\Darby Work\\LOD paper\\LOD_calcs.csv"
full_table.to_csv(epath, index=False)